<a href="{% url 'index' %}" class="logo"></a>
<ul class="menu">
    <li>
        <a href="{% url 'index' %}" {% if request.resolver_match.url.name == 'index' %}class="active"{% endif %}>домой</a>
    </li>
    <li>
        <a href="{% url 'products:products_hot_product' %}" {% if request.resolver_match.url.name == 'products' %}class="active"{% endif %}>продукты</a>
    </li>
    <li>
        <a href="{% url 'contact' %}" {% if request.resolver_match.url.name == 'contact' %}class="active"{% endif %}>контакты</a>
    </li>
</ul>
<a href="#" class="search"></a>
<a href="#" class="basket"></a>

