<a href="{% url 'index' %}" class="logo"></a>
<ul class="menu">
    <li>
        <a href="{% url 'index' %}" {% if request.resolver_match.url.name == 'index' %}class="active"{% endif %}>домой</a>
    </li>
    <li>
        <a href="{% url 'products:products_hot_product' %}" {% if request.resolver_match.url.name == 'products' %}class="active"{% endif %}>продукты</a>
    </li>
    <li>
        <a href="{% url 'contact' %}" {% if request.resolver_match.url.name == 'contact' %}class="active"{% endif %}>контакты</a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'authapp:edit' %}" >{{ user.firstname|default:'Пользователь' }}</a>
        </li>
        <li>
            <a href="{% url 'authapp:logout' %}" >выход</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'authapp:login' %}" >вход</a>
        </li>
    {% endif %}
</ul>
<a href="#" class="search"></a>
<a href="{% url 'basket:List' %}" class="basket">
{#    <span style="display: block; margin-left: 30px; color:red">{{ basket }}</span>#}
    <span style="display: block; margin-left: 30px; color:red">
        {% if basket %}
            {{ basket.0.total_cost|floatformat:0 }} руб
            ({{ basket.0.total_quantity }}шт)
        {% endif %}
    </span>

</a>

