<ul class="links-menu">
    <li class="category">
        <a href="{% url 'products:product_list' 0 %}"
           {% if request.resolver_match.kwargs.pk == 0 %}class="active"{% endif %}>
            все
        </a>
    </li>
    {% for link_menu in links_menu %}
    <li class="category">
        <a href="{% url 'products:product_list' link_menu.pk %}"
           {% if request.resolver_match.kwargs.pk == link_menu.pk %}class="active"{% endif %}>

            {{ link_menu.name }}
        </a>
    </li>
    {% endfor %}
</ul>

