<a href="{% url 'index' %}" class="logo"></a>
<ul class="menu">
    <li>
        <a href="{% url 'index' %}" {% if request.resolver_match.url.name == 'index' %}class="active"{% endif %}>домой</a>
    </li>
    <li>
        <a href="{% url 'products:products_hot_product' %}" {% if request.resolver_match.url.name == 'products' %}class="active"{% endif %}>продукты</a>
    </li>
    <li>
        <a href="{% url 'contact' %}" {% if request.resolver_match.url.name == 'contact' %}class="active"{% endif %}>контакты</a>
    </li>
    <li class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <a href="#" >пользователь</a>
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% if user.is_authenticated %}
             <li class="dropdown-item">
                <a href="{% url 'orders:orders_list' %}" >заказы</a>
             </li>
            {% if user.is_superuser %}
                <li class="dropdown-item">
                    <a href="{% url 'adminapp:user_read' %}" >Админка</a>
                </li>
            {% endif %}
            <li class="dropdown-item">
                <a href="{% url 'authapp:edit' %}" >{{ user.first_name|default:'Пользователь' }}</a>
            </li>
            <li class="dropdown-item">
                <a href="{% url 'authapp:logout' %}" >выход</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'authapp:login' %}" >вход</a>
            </li>
        </ul>
    {% endif %}

</ul>
<a href="#" class="search"></a>
<a href="{% url 'basket:List' %}" class="basket">
{#    <span style="display: block; margin-left: 30px; color:red">{{ basket }}</span>#}
    <span style="display: flex; color: #c40a0a; flex-wrap: nowrap; align-content: center; justify-content: flex-start;">
        {% if basket %}
            {{ basket.0.total_cost|floatformat:0 }} руб
            ({{ basket.0.total_quantity }}шт)
        {% endif %}
    </span>

</a>

