{% extends 'authapp/base.html'%}
{% load static %}

{% block content %}
    <form class="form_horizontal col-10" method="post" action="{% url 'authapp:login' %}">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" value="{{ next }}" name="next">
        {% endif %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
        <a class="btn btn-primary" href="{% url 'authapp:register' %}" style="width: 100%; margin-bottom: 5px">
            Зарегистрироваться
        </a>
        <a class="btn btn-primary" href="{% url 'social:begin' 'vk-oauth2' %}?next=/" style="width: 100%; margin-bottom: 5px">
            Вход через ВКонтакте
        </a>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next=/" style="width: 100%; margin-bottom: 5px">
            Вход через Google
        </a>
{% endblock %}
