{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <div class="products_list">
        <button class="new_product">
            <a href="{% url 'adminapp:product_create' category.pk %}">
                новый продукт
            </a>
        </button>
        {% for product_item in object.products.all %}
            <div class="product_record">
                <img src="{{ product_item.image|media_for_products }}">
                <div class="product_name"> {{ product_item.name|title }}
                </div>
                <div class="product_actions">
                    <button>
                        <a href="{% url 'adminapp:product_detail' product_item.pk %}">
                            подробнее </a>
                    </button>
                    <button>
                        <a href="#">
                            редактировать
                        </a></button>
                    <button>
                        <a href="#">
                            удалить
                        </a></button>
                </div>
                <div class="summary">
                    <b>цена</b>
                    <p>{{ product_item.price }} руб</p> <b>количество</b>
                    <p>{{ product_item.quantity }}</p>
                </div>
                <div class="product_desc">
                    {{ product_item.short_desc|title }} </div>
            </div> {% endfor %}
    </div>
{% endblock %}